option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:692859908241:certificate/decdf7a4-aa4f-4bc3-9e45-bc654f3e7382
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTP