<html>
   <head>
      
      <title>Research Defender  - RespondentTracking API Demo</title>         
	  
      <script type="module">

        import { pass_params, to_object } from 'https://prod.rtymgt.com/static/js/rd_sys_util.min.js';
         
		window.onload = function () {	
		
        var rdSearchRequest = new XMLHttpRequest();
        var rdPublishableKey = "f1573263-96cd-4179-b4f0-604f50834821";

        // var rdSearchEndpoint  = "https://prod.rtymgt.com/api/v4/respondents/search/"    
        var rdSearchEndpoint  = "https://prod.rtymgt.com/api/v4/respondents/search/" + rdPublishableKey;    
			
		let stateCheck = setInterval(() => {
            clearInterval(stateCheck);
			   
			let rdSurveyNumber   = "1000001";
		    let rdSurveySession  = "3a25b1f0e45fb0ab6f82625482f704c0";
		    let rdrespondentpid  = "3a25b1f0e45fb0ab6f82625482f704c0";
			
			rdSearchEndpoint += "?sy_nr=" + rdSurveyNumber + "&sn_ud=" + rdSurveySession + "&rt_sr_pd=" + rdrespondentpid;

            console.log("---------rdSearchEndpoint---------------",rdSearchEndpoint)
			
			rdSearchEndpoint += "&" + pass_params(); 
			
			rdSearchRequest.open("GET", rdSearchEndpoint);
			rdSearchRequest.withCredentials = true;		
			
            rdSearchRequest.onreadystatechange = function() {
		    if (rdSearchRequest.readyState == 4 /* complete */) { 
				if (rdSearchRequest.status === 200) {	
                   let j_obj = to_object(rdSearchRequest.responseText);    
			            
                   console.log(rdSearchRequest.responseText);
			
               }
		    }
		    };
		    rdSearchRequest.send();	
            
            console.log("rdSearchRequest---------------------",rdSearchRequest)
			   
           }, 100);  
		}
     </script>          
   </head>
   <body>
      <br/>
      <br/>   
      <br/>
      <br/>
      <br/>   
      <br/>
      <br/>
      <br/>   
      <br/>
      <br/>
      <br/>             
                       
      <footer>
         <p class="copyright">Copyright © Research Defender . All Rights Reserved.</p>
      </footer>      
   </body>
</html>